.navigation-bar_container {
    display: flex;
    padding: 10px 20px;
    color: #fff;

    .navigation-item {
        position: relative;
        margin: 0 20px;
        cursor: pointer;

        span {
            font-size: 18px;
            font-weight: bold;
            padding: 10px 0;
            display: inline-block;
        }

        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #292929;
            padding: 10px;
            display: none;
            flex-direction: column;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 10;

            a {
                color: #fff;
                text-decoration: none;
                padding: 8px px;
                text-align: left;
                font-size: 16px;
                width: 100%;

                &:hover {
                    background-color: #444;
                }
            }

            button {
                background: none;
                border: none;
                color: #fff;
                padding: 8px 15px;
                text-align: left;
                cursor: pointer;
                font-size: 16px;
                width: 100%;

                &:hover {
                    background-color: #444;
                }
            }
        }

        &:hover .dropdown {
            display: flex;
        }
        @media (max-width: 400px) {
            span {
                font-size: 15px;
            }
        }
    }
    @media (max-width: 400px) {
            padding: 0;
    }
}
