.people-list_body {
    width: calc(24% - 1rem); 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  
    .people-list_image {
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-bottom: 1px solid #ddd;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    .people-list_info {
      text-decoration: none;
      padding: 1rem;
      text-align: center;
      h1 {
        
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #333;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
  
      p {
        font-size: 0.9rem;
        color: #777;
      }
    }

    a{
      text-decoration: none;
    }
  }
  

  @media (max-width: 1024px) {
    .people-list_body {
      width: calc(32% - 1rem); 
    }
  }
  
  @media (max-width: 768px) {
    .people-list_body {
      width: calc(48% - 1rem); 
    }
  }
  
  @media (max-width: 480px) {
    .people-list_body {
      width: 100%; 
    }
  }