.watchlist-button {
    position: absolute;
    color: #ffffff;
    font-size: 1.8rem;
    padding: 15px;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }